<!DOCTYPE html>
<html ng-app="ExpressApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.module.js"></script>
    <script src="app.CartService.js"></script>   
</head>
<section>


<input type="search" class="search" data-ng-model="search.text" placeholder="Filter Your To Dos">
          
<ol>
<li data-ng-repeat="task in todos | filter:search:strict">
  <label data-ng-click="task.completed = !task.completed">
    <span ng-class="{ completed: task.completed }"><a class="complete" ng-if="!task.completed">Complete</a>
      {{ task.text }} </span>
      <button class="remove-btn" ng-click="removeTask()">X</button>

  </label>
</li>
</ol>

<form data-ng-submit="enter()">
<input type="text" class="text" data-ng-model="addTask" placeholder="Add Your To Do">
<input type="hidden" data-ng-model="completed" value="">
<input type="hidden" data-ng-model="listItem" value="">
<input type="submit" class="submit" value="Add">
</form>



</section>
</html>